# II. Analytic and modelling

## Import libraries and dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
df = pd.read_csv('https://file.io/Z3Ns20ARTPE2')
df.head()

,Movie,Release Date,Critic 1,Critic 2,Critic 3,Critic 4,Critic 5,Audience Rating
0,Iron Man,2-May-08,4.0,4.0,7.0,6.0,5.0,9.1
1,The Incredible Hulk,13-Jun-08,NaN,NaN,6.0,3.0,5.0,7.0
2,Iron Man 2,7-May-10,3.0,6.0,8.0,6.0,5.0,7.1
3,Thor,6-May-11,4.0,6.0,8.0,5.0,NaN,7.6
4,Captain America: The First Avenger,22-Jul-11,5.0,5.0,NaN,7.0,7.0,7.5

## Check dataframe

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Movie            22 non-null     object
 1   Release Date     22 non-null     object
 2   Critic 1         16 non-null     float64
 3   Critic 2         18 non-null     float64
 4   Critic 3         19 non-null     float64
 5   Critic 4         17 non-null     float64
 6   Critic 5         15 non-null     float64
 7   Audience Rating  22 non-null     float64
dtypes: float64(6), object(2)
memory usage: 1.5+ KB

In [55]:
df.describe()

        Critic 1   Critic 2   Critic 3   Critic 4   Critic 5  Audience Rating
count  16.000000  18.000000  19.000000  17.000000  15.000000        22.000000
mean    4.750000   6.666667   7.578947   6.882353   6.866667         8.186364
std     1.612452   2.057983   1.346427   1.964763   2.099887         1.080254
min     3.000000   3.000000   5.000000   3.000000   4.000000         4.500000
25%     3.000000   5.250000   6.500000   5.000000   5.000000         7.650000
50%     4.500000   6.500000   8.000000   7.000000   7.000000         8.550000
75%     6.250000   8.000000   8.500000   9.000000   8.500000         8.975000
max     7.000000  10.000000  10.000000  10.000000  10.000000         9.200000

In [56]:
df.isna().sum()

Movie              0
Release Date       0
Critic 1           6
Critic 2           4
Critic 3           3
Critic 4           5
Critic 5           7
Audience Rating    0
dtype: int64

## Analytics

### 1. Compute average critics rating for each film

In [57]:
df['Mean'] = df.iloc[:, 2:6].mean(axis=1)
df

,Movie,Release Date,Critic 1,Critic 2,Critic 3,Critic 4,Critic 5,Audience Rating,Mean
0,Iron Man,2-May-08,4.0,4.0,7.0,6.0,5.0,9.1,5.250000
1,The Incredible Hulk,13-Jun-08,NaN,NaN,6.0,3.0,5.0,7.0,4.500000
2,Iron Man 2,7-May-10,3.0,6.0,8.0,6.0,5.0,7.1,5.750000
3,Thor,6-May-11,4.0,6.0,8.0,5.0,NaN,7.6,5.750000
4,Captain America: The First Avenger,22-Jul-11,5.0,5.0,NaN,7.0,7.0,7.5,5.666667
5,Marvel's The Avengers,4-May-12,3.0,8.0,8.0,NaN,9.0,9.1,6.333333
6,Iron Man 3,3-May-13,3.0,NaN,8.0,NaN,5.0,7.8,5.500000
7,Thor: The Dark World,8-Nov-13,3.0,3.0,9.0,5.0,5.0,7.5,5.000000
8,Captain America: The Winter Soldier,4-Apr-14,7.0,7.0,9.0,9.0,NaN,9.2,8.000000
9,Guardians of the Galaxy,1-Aug-14,5.0,6.0,NaN,9.0,8.0,9.2,6.666667
10,Avengers: Age of Ultron,1-May-15,NaN,4.0,7.0,NaN,NaN,8.3,5.500000
11,Ant-Man,17-Jul-15,3.0,5.0,6.0,NaN,4.0,8.5,4.666667
12,Captain America; Civil War,6-May-16,7.0,NaN,8.0,9.0,NaN,8.9,8.000000
13,Doctor Strange,4-Nov-16,4.0,6.0,8.0,NaN,5.0,8.6,6.000000
14,Guardians of the Galaxy Vol. 2,5-May-17,7.0,10.0,7.0,5.0,10.0,8.7,7.250000
15,Spider-Man: Homecoming,7-Jul-17,NaN,9.0,NaN,8.0,8.0,8.7,8.500000
16,Thor: Ragnarok,3-Nov-17,NaN,10.0,5.0,9.0,NaN,8.7,8.000000
17,Black Panther,16-Feb-18,NaN,7.0,6.0,6.0,8.0,7.9,6.333333
18,Avengers: Infinity War,27-Apr-18,7.0,7.0,9.0,8.0,9.0,9.1,7.750000
19,Ant-Man and the Wasp,6-Jul-18,NaN,8.0,6.0,7.0,NaN,8.1,7.000000
20,Captain Marvel,8-Mar-19,5.0,NaN,9.0,5.0,NaN,4.5,6.333333
21,Avengers: Endgame,26-Apr-19,6.0,9.0,10.0,10.0,10.0,9.0,8.750000

### 2. Based on audience rating, separate critics into appropriate groups, and possible characteristics of those groups. Explain clearly what your method is and why you chose it.

## Modelling

### 1. Fill in the missing values of critics rating by following step

#### 1. Normalize the values for the critics and transform values to z-scores

In [36]:
from scipy.stats import zscore

In [48]:
df['Critic 1'] = (df['Critic 1'] - df['Critic 1'].mean())/df['Critic 1'].std(ddof=0)
df['Critic 2'] = (df['Critic 2'] - df['Critic 2'].mean())/df['Critic 2'].std(ddof=0)
df['Critic 3'] = (df['Critic 3'] - df['Critic 3'].mean())/df['Critic 3'].std(ddof=0)
df['Critic 4'] = (df['Critic 4'] - df['Critic 4'].mean())/df['Critic 4'].std(ddof=0)
df['Critic 5'] = (df['Critic 5'] - df['Critic 5'].mean())/df['Critic 5'].std(ddof=0)
df

,Movie,Release Date,Critic 1,Critic 2,Critic 3,Critic 4,Critic 5,Audience Rating,Mean
0,Iron Man,2-May-08,-0.920137,-1.333333,-0.441771,-0.462910,-0.920137,9.1,5.250000
1,The Incredible Hulk,13-Jun-08,-0.920137,NaN,-1.204829,-2.036804,-0.920137,7.0,4.500000
2,Iron Man 2,7-May-10,-0.920137,-0.333333,0.321288,-0.462910,-0.920137,7.1,5.750000
3,Thor,6-May-11,NaN,-0.333333,0.321288,-0.987541,NaN,7.6,5.750000
4,Captain America: The First Avenger,22-Jul-11,0.065724,-0.833333,NaN,0.061721,0.065724,7.5,5.666667
5,Marvel's The Avengers,4-May-12,1.051585,0.666667,0.321288,NaN,1.051585,9.1,6.333333
6,Iron Man 3,3-May-13,-0.920137,NaN,0.321288,NaN,-0.920137,7.8,5.500000
7,Thor: The Dark World,8-Nov-13,-0.920137,-1.833333,1.084346,-0.987541,-0.920137,7.5,5.000000
8,Captain America: The Winter Soldier,4-Apr-14,NaN,0.166667,1.084346,1.110984,NaN,9.2,8.000000
9,Guardians of the Galaxy,1-Aug-14,0.558655,-0.333333,NaN,1.110984,0.558655,9.2,6.666667
10,Avengers: Age of Ultron,1-May-15,NaN,-1.333333,-0.441771,NaN,NaN,8.3,5.500000
11,Ant-Man,17-Jul-15,-1.413068,-0.833333,-1.204829,NaN,-1.413068,8.5,4.666667
12,Captain America; Civil War,6-May-16,NaN,NaN,0.321288,1.110984,NaN,8.9,8.000000
13,Doctor Strange,4-Nov-16,-0.920137,-0.333333,0.321288,NaN,-0.920137,8.6,6.000000
14,Guardians of the Galaxy Vol. 2,5-May-17,1.544516,1.666667,-0.441771,-0.987541,1.544516,8.7,7.250000
15,Spider-Man: Homecoming,7-Jul-17,0.558655,1.166667,NaN,0.586353,0.558655,8.7,8.500000
16,Thor: Ragnarok,3-Nov-17,NaN,1.666667,-1.967887,1.110984,NaN,8.7,8.000000
17,Black Panther,16-Feb-18,0.558655,0.166667,-1.204829,-0.462910,0.558655,7.9,6.333333
18,Avengers: Infinity War,27-Apr-18,1.051585,0.166667,1.084346,0.586353,1.051585,9.1,7.750000
19,Ant-Man and the Wasp,6-Jul-18,NaN,0.666667,-1.204829,0.061721,NaN,8.1,7.000000
20,Captain Marvel,8-Mar-19,NaN,NaN,1.084346,-0.987541,NaN,4.5,6.333333
21,Avengers: Endgame,26-Apr-19,1.544516,1.166667,1.847404,1.635616,1.544516,9.0,8.750000

#### 2. Compute the mean and covariance matrix for the critics using normalized values

In [51]:
cov_df = df[['Critic 1', 'Critic 2', 'Critic 3', 'Critic 4', 'Critic 5']].cov()
cov_df

          Critic 1  Critic 2  Critic 3  Critic 4  Critic 5
Critic 1  1.071429  0.881587  0.398931  0.623007  1.071429
Critic 2  0.881587  1.058824 -0.172597  0.406445  0.881587
Critic 3  0.398931 -0.172597  1.055556  0.314541  0.398931
Critic 4  0.623007  0.406445  0.314541  1.062500  0.623007
Critic 5  1.071429  0.881587  0.398931  0.623007  1.071429

In [52]:
mean_df = df[['Critic 1', 'Critic 2', 'Critic 3', 'Critic 4', 'Critic 5']].mean()
mean_df

Critic 1   -7.401487e-17
Critic 2   -2.467162e-16
Critic 3    3.038505e-16
Critic 4   -2.089832e-16
Critic 5    2.368476e-16
dtype: float64

#### 3. Assuming critics normalized values follow a multivariate normal distribution, fill in the missing values by maximizing log likelihood of the joint distribution